{
  "title": "Etherpad Lite",

  "favicon": "favicon.ico",


{% if etherpad.path != '/' %}
/* we have a local nginx frontend */
  "ip": "127.0.0.1",
  "port" : {{ etherpad.port|int + 1 }},
{% else %}
  "ip": "{{ ansible_eth0.ipv4.address }}",
  "port" : {{ etherpad.port }}, 
{% endif %}

  "sessionKey" : "{{ etherpad.session_key }}",

  "dbType" : "mysql",
  "dbSettings" : {
                    "user"    : "{{ etherpad.database.user }}",
                    "host"    : "{{ etherpad.database.host }}",
                    "password": "{{ etherpad.database.password }}",
                    "database": "{{ etherpad.database.name }}"
                  },
  "defaultPadText" : "Welcome to Etherpad Lite!\n\nThis pad text is synchronized as you type, so that everyone viewing this page sees the same text. This allows you to collaborate seamlessly on documents!\n\nGet involved with Etherpad at http:\/\/etherpad.org\n",
  "requireSession" : false,
  "editOnly" : false,
  "minify" : true,
  "abiword" : null,
  "requireAuthentication": false,
  "requireAuthorization": false,

  /*
  "users": {
    "admin": {
      "password": "changeme1",
      "is_admin": true
    },
    "user": {
      "password": "changeme1",
      "is_admin": false
    }
  },
  */

  "loglevel": "INFO",

  "socketTransportProtocols" : ["xhr-polling", "jsonp-polling", "htmlfile"]
}
